:root{
  --green: #1DB954;
  --black:#191414;
  --grey: #f7f8f9;
}

body{
font-family: Manrope, sans-serif;
/* background-image: url('../img/jakayla-toney-7S__5PvMaGY-unsplash.jpg'); */
background-repeat: no-repeat;
background-size: cover;
background-color: var(--black);
color: white;
}

h1,h2,h3,h4,h5{
  line-height: 1.1;
  margin-top: 0;

}
/* Header and Navbar  */
.navbar-custom .nav-item .nav-link{
    color: white;
    text-decoration: none;
}

.navbar-custom .nav-item .nav-link:hover{
  color: white;
  font-weight: 700;
}
.header-custom{
    background: linear-gradient(to right, #1d2931, #070a0c);
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 200;
    margin-bottom: 100px;
}

.navbar{
    background: linear-gradient(to right, #1d2931, #070a0c);
    z-index: 100;
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    margin-bottom: 0px;
    
}

/* nav links  */
.sign-up {
  background-color: var(--green);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 1px 10px;
}

/* Header text  */
.header-left{
  width: 550px
}

.header-title{
  font-size: 60px;
  font-weight: 700;
}
/* Carousel */


.carousel-img{
  width: 360px;
  height: 360px;
  padding: 0;
  margin: 0;
}
/* END Carousel  */
/* END Header and Navbar  */

/* Footer  */

/* END Footer  */