:root {
    --green: #1DB954;
    --black: #191414;
    --grey: #f7f8f9;
}


body {
    font-family: Manrope, sans-serif;
    background-color: var(--grey);
    line-height: 1.5;
}

/* /Navbar */
.navbar-custom .search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-input {
    position: relative;
    max-width: 300px;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0 1rem;
}

.sign-up {
    background-color: var(--green);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 1px 10px;
}

/* sidebar  */
#sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: auto;
    z-index: 1000;
    background-color: white;
}

.nav-link {
    cursor: pointer;
    color: var(--black);
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: 500;
    color: var(--black);
}

.sidebar-sticky {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    #sidebar {
        width: 250px;
    }
}

/* Navbar responsivity */

.offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    transition: transform .3s ease-in-out;
}

.offcanvas-collapse.open {
    transform: translateX(-100%);
}

/* @media(min-width: 786px) {
    .offcanvas-collapse {
        transform: translateX(0);
    }
} */


/* main content  */

.main-content {
    margin-top: 150px;
    margin-bottom: 250px;
    
}

a{
    text-decoration: none;
    color: var(--black);
}

.card{
    padding: 20px;
}

/* collection and albums card  */
.collection-img{
    width: 570px;
    height: auto;
}

.bi-file-plus-fill:hover{
    color: var(--green);
    text-decoration: underline;
}

.add-vinyl:hover{
    color: var(--green);
    text-decoration: underline;
}

.delete-btn:hover{
    color: var(--green);
    text-decoration: underline;
}
/* user info  */
.bi-person-circle{
    font-size: 50px;
    color: darkgray;
}

.bi-person-circle:hover{
    color: var(--black);
}
.user-flex{
    display: flex;
    column-gap: 15px;
    align-items: center;
   
    justify-content: start;
}

.btn-edit{
    background-color: none;
    color: var(--green);
}

.btn-edit:hover{
    text-decoration: underline;
}

.title{
    display: flex;
    align-items: center;
}
.btn-update{
    background-color: none;
    border: solid 1px var(--green);
    border-radius: 10px;
    color: var(--green);
}

.update-form{
    display: flex;
}
.btn-update:hover{
    text-decoration: underline;
    color: var(--green);
}
/* Comment section  */
.comment-section{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.submit-btn{
    background-color: var(--grey);
    border: none;
}
/* Footer  */
.footer {
    margin-top: 100px;
}

.bi-twitter:hover {
    color: var(--green);
}
.bi-instagram:hover {
    color: var(--green);
}
.bi-facebook:hover {
    color: var(--green);
}
